* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
}

.table {
	@header-color: #ccc;
	@dark-color: #ddd;
	@light-color: #eee;
	@dark-border: #888;
	@light-border: #bbb;

	div& {
		width: 100%;
		display: table;
	}
	>div.row {
		width: 100%;
		display: table-row;


		&:nth-of-type(even) {
			background-color: @dark-color;
		}
		&:nth-of-type(odd) {
			background-color: @light-color;
		}
		&.header {
			background-color: @header-color;
			>span {
				border-bottom: 1px solid @dark-border;
			}
		}

		>span {
			display: table-cell;
			padding: .5em;
			border-bottom: 1px solid @light-border;

			&:not(:last-child) {
				border-right: 1px solid @dark-border;
			}
		}
	}
}